{% extends 'base.html.twig' %}

{% block title %}User Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}" />
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            <h1>Register</h1>

            <form action="{{ path("user_register") }}" method="POST">
                {# Para gerar os atributos 1 a 1 #}
                {{ form_errors(form) }}

                {#                Consigo adicionar classes passando como parametro também#}
                {{ form_row(form.username, {
                    'attr': {'class': 'a-clever-class'},
                    'help': 'Chose a unique Username'
                }) }}

                {{ form_row(form.email) }}

                {{ form_row(form.password.first,{
                    'label': 'Password'
                }) }}

                {{ form_row(form.password.second, {
                    'label': 'Repeat Password'
                }) }}

                {{ form_rest(form) }}

                <input type="submit" value="Register" class="btn btn-primary">
            </form>

        </article>
    </section>
{% endblock %}
