{% extends 'base.html.twig' %}

{% block title %}User Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center">Register a New User</h1>
        </div>
        <form action="{{ path("user_register") }}" method="POST">
            <div class="form-group">
                {# Para criar os atributos indepedentes #}
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        {{ form_errors(form.username) }}
                        {{ form_row(form.username, {
                            'attr': {'class': 'form-control'},
                        }) }}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        {{ form_row(form.email, {
                            'attr': {'class': 'form-control'},
                        }) }}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        {{ form_row(form.password.first,{
                            'label': 'Password',
                            'attr' : {'class' : 'form-control'}
                        }) }}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        {{ form_row(form.password.second,{
                            'label': 'Repeat Password',
                            'attr' : {'class' : 'form-control'}
                            }) }}
                    </div>
                </div>

                {{ form_errors(form) }}
                {{ form_row(form._token) }}
            </div>
            <div class="row justify-content-center">
                <input type="submit" value="Register" class="btn btn-primary">
                <a href="{{ path('index_search') }}" class="btn btn-secondary ml-2" role="button" aria-pressed="true">Back To Search</a>
            </div>
        </form>
    </div>
{% endblock %}
